<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    <link rel="stylesheet" href="../../../../static/css/style.css">
</head>
<body>
   
    
    <div class="container">
        <h2>Upload PDF</h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="file">Choose PDF:</label>
            <input type="file" id="file" name="file" accept="application/pdf" required>

            <button type="submit">Upload</button>
        </form>
    </div>
    <script src="../static/js/upload.js"></script>
</body>
</html>
